<header class = 'topstuff'> <h1> BLOGGY <h1></header>
	<nav>
	<%= link_to 'My Blogs', controller: 'articles' %>
	
    <%= link_to 'New Article', new_article_path %>
</nav>

<section id='box'>
<ul>
  <li id="draggable1" class="ui-state-highlight">Drag me down</li>
</ul>  
<ul id= "sortable1">
  <li class="ui-state-default" id= '1'> Item 1 </li>
  <li class="ui-state-default" id= '2'>Item 2</li>
  <li class="ui-state-default" id= '3'>Item 3</li>
  <li class="ui-state-default" id= '4'>Item 4</li>
  <li class="ui-state-default" id= '5'>Item 5</li>
</ul>

</section>

<section id='box'>
<ul>
  <li id="draggable2" class="ui-state-highlight">Drag me down</li>
</ul>
<ul id= "sortable2">
  <li class="ui-state-default">Item 1</li>
  <li class="ui-state-default">Item 2</li>
  <li class="ui-state-default">Item 3</li>
  <li class="ui-state-default">Item 4</li>
  <li class="ui-state-default">Item 5</li>
</ul>
</section>

<section id='box'>
<ul>
  <li id="draggable3" class="ui-state-highlight">Drag me down</li>
</ul>
<ul id= "sortable3">
  <li class="ui-state-default">Item 1</li>
  <li class="ui-state-default">Item 2</li>
  <li class="ui-state-default">Item 3</li>
  <li class="ui-state-default">Item 4</li>
  <li class="ui-state-default">Item 5</li>
</ul>
</section>